<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song player</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="section">
        Users
    <ol id ="users">
    </ol>
    </div>
    <div>
        <div class="box">
        </div>
        <div class="box1">	
        </div>
        <div class="box2">
            <form action="/upload/<%=data.roomCode %>" method="post" enctype="multipart/form-data" class="choose-form" >
                <input type="file" name="image" class ="input-button"/>
                <input type ="submit" id = "uploadFileInp" value="Upload a file"/ class ="input-button">
            </form>
            <ul class = "songs-list">
                <% data.songsData.forEach(song => { %>
                    <li onclick= "selected('<%=song.hash_code %>')"><a href ="#" class = "btn btn--white btn--animated"><%= song.songs_name %></a></li>
                <% });%>
            </ul>
            <audio id="audio_player" controls autoplay muted ="muted" >
            </audio>
        <input maxlength='10' id ="roomCodeInp" value= "<%=data.roomCode %>"/>	    
        </div>
    </div>
</body>
<script src="/app.js"></script>
</html>
