<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song player</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container" id = "song-list">
        <input type="text" id ="roomCodeInp" value= "<%=data.roomCode %>">
        <form action="/upload/<%=data.roomCode %>" method="post" enctype="multipart/form-data">
            <input type="file" name="image" />
            <input type="submit" id = "uploadFileInp" value="Upload a file"/ >
        </form>
        <ul>
            <% data.songsData.forEach(song => { %>
                <li onclick= "selected('<%=song.hash_code %>')"><%= song.songs_name %></li>
            <% });%>
        </ul>
        <audio id="audio_player" controls autoplay muted ="muted" >
        </audio>
    </div>
</body>
<script src="/app.js"></script>
</html>